@keyframes fade-in-out {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    50% {
        transform: translateY(250px);
        opacity: 1;
    }
    85% {
        transform: translateY(250px);
        opacity: 1;
    }
    100% {
        transform: translateY(500px);
        opacity: 0;
    }
}



@keyframes vibrate {
	50% {
		transform: translateX(1px) translateY(1px) rotate(2deg);
	}

	100% {
		transform: translateX(-1px) translateY(-1px) rotate(-2deg);
	}
}
@keyframes vibrate-mobile {
	50% {
		transform: translateX(0px) translateY(0px) rotate(1deg);
	}

	100% {
		transform: translateX(0px) translateY(0px) rotate(-1deg);
	}
}

@keyframes fade-in-out-canvas {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
