
* { 
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif; 
    text-shadow: 1px 1px 1px rgba(50,50,50,0.8);
}

html {
    background-color: #e1e1e1;
}

body {
    margin: 0 auto;
}

h1 {
    font-size: 3.5em;
}

